/* ################ MAIN ELEMENTS ################ */

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #999999;
    font-size: 300;
    font-size: 16px;
}


/* ################ ADMIN USER PROFILES ################ */

.adminAction {
    width: 90px;
    height: 30px;
}

.main-section {
    border: 2px solid #207785;
    background-color: #fff;
    margin: 30px;
    width: 300px;
}

.user-detail {
    margin: -50px 0px 30px 0px;
}

.user-detail img {
    height: 100px;
    width: 100px;
}

.user-detail h5 {
    margin: 15px 0px 5px 0px;
}


/* ################ MODAL ################ */

.adminModal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Show above everything else */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(39, 39, 39);
    background-color: rgb(39, 39, 39)
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Show above everything else */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(39, 39, 39);
    background-color: rgba(39, 39, 39, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    -webkit-animation: fadeInDown 500ms ease-in-out;
    animation: fadeInDown 500ms ease-in-out;
}

.closeModal {
    color: #aaa;
    height: 25px;
    width: 25px;
}

.closeModal:hover,
.close:focus {
    color: rgb(22, 17, 17);
    cursor: pointer;
}


/* ################ AVATAR ################ */

.littleAvatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.boxAvatar {
    margin-top: 40px;
}


/* ################ ANIMATION ################ */


/* Chrome, Safari, Opera */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


/* Standard syntax */

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ################ MAIN PAGE ################ */

.BoxImageWithText {
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
}

.ImageCropped {
    object-fit: cover;
    width: 100%;
    height: 700px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    background: rgba(80, 118, 167, 0.3);
}


/* ################ Ratings ################ */

.lead{
    margin-bottom: 100px;
}

.stars-outer {
    position: relative;
    display: inline-block;
  }
  
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }
  


/* ################ FOOTER ################ */

.customFooter {
    width: 100%;
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.customFooter hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.customFooter h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.customFooter a {
    color: #737373;
}